body {
   background-color: #f7eb91;
   background-image: url("DC1.jpg");
}

li {
   color: #a192f4;
   font-family: monospace;
   font-size: 250%;
   text-align: center;
   border-left: 5px solid #d1f5ff;
   margin: 7px;
   padding: 6;
   background-color: #424242;


}

.sendbutton {
   background-color: #e5f9ff;
   align: center;
}

h1 {
  color: #c4fff2;
  font-family: rockwell;
  font-size: 310%;
  text-align: center;
  border: 8px dotted #f8ffbc;
}

form {
   color: #8e1f04;
   font-family: optima;
   font-size: 100%;
   text-align: center;
}

.emoji_container div {
  display: inline;
  font-size: 150%;
  border: 8px dotted #f8ffbc;
  background-color: #c4fff2;
  width: 8px;
}

ul {
    list-style-type: none;
    font-family: lucida bright
    margin: 2;
    padding: 5;
}

input {
   color: #cc0e34;
   font-family: optima;
   font-size: 150%;
   text-align: center;
}
textarea {
   color: #cc0e34;
   font-family: optima;
   font-size: 150%;
   border: 5px solid #e5f9ff;
   border-style: inset;
   padding: 5px;
   margin: 50px;
   text-align: center;
}

#output li span {
  color: #ffd6d6;
  font-family: fantasy;
}
