body {
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
}

h1{
    color: #5f7cb5;
    font-family: "Palatino Linotype";
    font-weight: 900;
    font-size: 150%;
    margin: auto;
    padding: 20px;
    width: 60%;
}

ul {
    background-color: #fbd6fc;
    opacity: 0.75;
    color: black;
    font-family: "Palatino Linotype";
    font-size: 100%;
    margin: auto;
    padding: 20px;
    border: 5px double grey;
    border-radius: 10px;
    height: 50%;
    width: 60%;
}

form {
    background-color: #c2d2ea;
    opacity: 0.75;
    font-family: courier;
    font-size: 100%;
    margin: auto;
    padding: 20px;
    position: relative;
    top: 10px;
    border: 5px dashed grey;
    border-radius: 10px;
    height: 15%;
    width: 60%;
}


.center {
    margin: auto;
    width: 100%;
    overflow: hidden;
    display: inline;
}

.sendbutton {
    background-color: #fbd6fc;
    font-family: courier;
    font-size: 80%;
}

li {
    list-style-type: none;
}

#output li span{
    color: #2f3c66;
    font-weight: 900;
}